.navbar {
  width: 100%;
  height: 6.5rem;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans Pro", sans-serif;
  background-color: #99E6C5;
}

.content {
  width: 88.5vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content > a {
  text-decoration: none;
}

.content h3 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.content ul {
  display: flex;
}

.content ul li a {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.content ul li:last-child {
  margin-left: 0;
}