.intro {
  width: 100%;
  height: 98vh;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.avatar {
  height: 72%;
  max-height: calc((90vw) * (932/1086));
  max-width: 90%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  z-index: 2;
}

.circle-text {
  height: 75%;
  max-width: 80vw;
  max-height: 80vw;
  position: absolute;
  bottom: 8%;
  left: 50%;
  
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: translate(-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%) rotate(360deg);
  }
}

@media (max-aspect-ratio: 9/14) {
  .intro {
    height: 75vh;
  }
}